name: sfco-api

services:
  app:
    build: .
    container_name: nest_app
    ports:
      - '3010:3010' # porta da tua aplicação Nest
    depends_on:
      - mysql
    env_file:
      - .env
    volumes:
      - .:/app
    command: npm run start:dev

  mysql:
    image: mysql:5.6
    container_name: mysql
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: saofrancisco05
      MYSQL_USER: dev
      MYSQL_PASSWORD: dev
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
